/*
  src/app/page.module.css
  This file contains styles specific to the main page (page.tsx).
*/

.main {
  padding-top: 10px; /* Add padding to push content below the fixed header */
}

.content {
    max-width: 800px;
    margin: 2rem auto; /* Centers the content and adds space */
    padding: 0 1rem;
}

/* New styles for the main headline */
.headline {
    font-size: 1.5rem; /* Adjusted font size */
    font-weight: 500;
    margin-bottom: 2rem;
}

.blogList {
    display: flex;
    flex-direction: column;
    gap: 1rem; /* Reduced gap between posts */
} 