.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0; /* Reduced padding */
    border: none; /* Explicitly remove any border */
}

.tags {
    flex: 1;
    display: flex;
    justify-content: flex-start; /* Align tags to the left */
    gap: 0.5rem;
}

.tag {
    color: #000000; /* From CSS */
    padding: 0.2rem 0.75rem;
    border-radius: 8px; /* From CSS */
    font-size: 14px; /* Updated size */
    font-weight: 300; /* From CSS */
    text-align: center;
}

.title {
    flex: 2;
    text-align: center;
    margin: 0;
    font-family: var(--font-serif); /* Use serif font */
    font-size: 18px; /* Updated size */
    font-weight: 300;
    line-height: 1.4; /* Improved line height */
    
}

.date {
    flex: 1;
    text-align: right;
    font-size: 14px; /* Updated size */
    font-weight: 300; /* Set specific weight */
    color: #000000; /* From CSS */
} 